<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.serviceModel>
    <services>
      <service name="Board.Service.BoardService" >
        <endpoint address="BoardWcfService" binding="netTcpBinding" contract="Board.Contract.IBoardService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:9971"/>
          </baseAddresses>
        </host>
      </service> 
    </services>
  </system.serviceModel>  -->
</configuration>